.Polaris-Popover__Pane	{
	width: fit-content;
	padding: 5px;
}

.Polaris-Scrollable .Polaris-IndexTable .Polaris-IndexTable__PaginationWrapper {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 610px;
}

.spinner-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	position: fixed;
	left: 50%;
	top: 0;
	z-index: 11111;
	backdrop-filter: blur(1px);
	transform: translateX(-50%);
	background-color: rgba(255, 255, 255, 0.3);
	width: 100%;
}

.edit-item-cancel-icon .Polaris-Icon {
	margin: 0;
}

.edit-item-list .Polaris-ResourceItem:hover {
	background-color: unset;
}

.edit-item-cancel-icon:hover {
	background-color: var(--p-color-bg-surface-secondary-hover);
}

.generate-discount-codes-list .Polaris-InlineStack {
	display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
}

.generate-discount-codes-list .Polaris-InlineStack .Polaris-FormLayout__Item:nth-of-type(2) {
	padding-top: 20px;
}

#PolarisPortalsContainer .Polaris-Popover__Content {
	max-width: 35rem !important;
}

#PolarisPortalsContainer .Polaris-Popover__Pane {
	width: 1200px !important;
	padding: 0;
}

.icon-category-back-arrow .Polaris-Icon {
	margin: 5px;
	cursor: pointer;
}